
body {
	background-color: #ADD8E6;
}
input {
	max-width: 300px;
}
h2 {
	color: #00008B;
	font-family: Folrence, cursive;
	text-shadow: 5px 2px 4px grey;
}
.flexbox-container {
	display: flex;
	padding: 3px;
	flex-wrap: wrap;
	flex-direction: row;
	padding: 5px;
	/*background-color: blue;*/
}
.format-input {
	padding: 5px;
	border-radius: 20px;
}
.format-label {
	padding: 5px;
	border-radius: 20px;
}
.button-flexbox {
	display: flex;
}